{require_otp_vsn, "17"}.

{sub_dirs, ["rel"]}.

{validate_app_modules, true}.

{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{cover_enabled, true}.

{reset_after_eunit, true}.

{deps, [
        {node_package,
         ".*", {git, "git@github.com:basho/node_package.git", {branch, "develop"}}},
        {lager,
         ".*", {git, "git@github.com:basho/lager.git", {branch, "master"}}}
       ]}.
