%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "pkgex", "0.0.0",
        [
         kernel,
         stdlib,
         sasl,
	 lager,
         pkgex
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "pkgex"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, pkgex, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "pkgex"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},

           {copy, "../deps/node_package/priv/base/erl",
            "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
            "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner",
            "bin/pkgex"},
           {template, "../deps/node_package/priv/base/env.sh",
            "lib/env.sh"},

           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}

          ]}.
